.u-section-1 .u-sheet-1 {
  min-height: 269px;
}

.u-section-1 .u-text-1 {
  line-height: 1.6;
  font-size: 3.75rem;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 139px;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 83px;
    margin-right: 0;
    margin-bottom: 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2496px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 16px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1311px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 33px 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 0;
  width: 1120px;
  margin: 0 10px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 13px 458px 0 auto;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -10px 552px 0 430px;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 402px 0 579px;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 63px 0 919px;
}

.u-section-2 .u-custom-html-5 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -141px 967px 0 73px;
}

.u-section-2 .u-custom-html-6 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -139px 809px 0 244px;
}

.u-section-2 .u-custom-html-7 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 251px 0 731px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 42px 450px 0 auto;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-8 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 50px 552px 0 430px;
}

.u-section-2 .u-custom-html-9 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 251px 0 732px;
}

.u-section-2 .u-custom-html-10 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 408px 0 573px;
}

.u-section-2 .u-custom-html-11 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 56px 0 926px;
}

.u-section-2 .u-custom-html-12 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 970px 0 70px;
}

.u-section-2 .u-custom-html-13 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 816px 0 237px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 11px 456px 0 auto;
}

.u-section-2 .u-icon-3 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-14 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 1px 552px 0 430px;
}

.u-section-2 .u-custom-html-15 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 408px 0 573px;
}

.u-section-2 .u-custom-html-16 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 250px 0 732px;
}

.u-section-2 .u-custom-html-17 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 50px 0 932px;
}

.u-section-2 .u-custom-html-18 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -139px 969px 0 71px;
}

.u-section-2 .u-custom-html-19 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -139px 816px 0 237px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 53px 452px 0 auto;
}

.u-section-2 .u-icon-4 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-20 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -1px 970px 0 70px;
}

.u-section-2 .u-custom-html-21 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -138px 821px 0 231px;
}

.u-section-2 .u-custom-html-22 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 561px 0 420px;
}

.u-section-2 .u-custom-html-23 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 402px 0 579px;
}

.u-section-2 .u-custom-html-24 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -143px 245px 0 737px;
}

.u-section-2 .u-custom-html-25 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -145px 50px 0 932px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 75px 455px 0 auto;
}

.u-section-2 .u-icon-5 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-26 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 2px 967px 0 73px;
}

.u-section-2 .u-custom-html-27 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 829px 0 223px;
}

.u-section-2 .u-custom-html-28 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -141px 561px 0 421px;
}

.u-section-2 .u-custom-html-29 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 422px 0 559px;
}

.u-section-2 .u-custom-html-30 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -138px 250px 0 732px;
}

.u-section-2 .u-custom-html-31 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 143px 0 926px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 257px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 342px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 21px;
    margin-right: 442px;
    margin-left: 339px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 145px;
    margin-right: 314px;
    margin-left: 467px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -427px;
    margin-right: 3px;
    margin-left: 820px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 664px;
    margin-left: 188px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-right: 151px;
    margin-left: 631px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 333px;
  }

  .u-section-2 .u-custom-html-8 {
    margin-top: 71px;
    margin-right: 509px;
    margin-left: 339px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-right: 152px;
    margin-left: 631px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-top: -419px;
    margin-right: 348px;
    margin-left: 467px;
  }

  .u-section-2 .u-custom-html-11 {
    margin-top: 139px;
    margin-right: 7px;
    margin-left: 816px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-top: -141px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -139px;
    margin-right: 675px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 59px;
    margin-right: 336px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: -4px;
    margin-right: 196px;
    margin-left: 333px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 308px;
    margin-left: 473px;
  }

  .u-section-2 .u-custom-html-16 {
    margin-right: 152px;
    margin-left: 630px;
  }

  .u-section-2 .u-custom-html-17 {
    margin-right: 10px;
    margin-left: 811px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-top: -140px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-top: -140px;
    margin-right: 674px;
    margin-left: 179px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 50px;
    margin-right: 333px;
  }

  .u-section-2 .u-custom-html-20 {
    margin-top: 3px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-21 {
    margin-top: -140px;
    margin-right: 682px;
    margin-left: 170px;
  }

  .u-section-2 .u-custom-html-22 {
    margin-right: 442px;
    margin-left: 339px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-right: 308px;
    margin-left: 473px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-top: -140px;
    margin-right: 150px;
    margin-left: 632px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: -140px;
    margin-right: 0;
    margin-left: 816px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 63px;
    margin-right: 342px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-top: 66px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-27 {
    margin-right: 683px;
    margin-left: 169px;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: -138px;
    margin-right: 442px;
    margin-left: 340px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-right: 319px;
    margin-left: 462px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-top: -140px;
    margin-right: 152px;
    margin-left: 630px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-right: 3px;
    margin-left: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1442px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
    margin-top: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -25px;
    margin-right: 262px;
    margin-left: 243px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 95px;
    margin-right: 38px;
    margin-left: 523px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: -557px;
    margin-right: 204px;
    margin-left: 357px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: 945px;
    margin-right: 129px;
    margin-left: 433px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-top: -297px;
    margin-right: 496px;
    margin-left: 124px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 308px;
    margin-left: 324px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-top: 17px;
    margin-right: 338px;
    margin-left: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1292px;
    margin-right: 255px;
  }

  .u-section-2 .u-custom-html-8 {
    margin-top: 448px;
    margin-right: 529px;
    margin-left: 32px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-top: -408px;
    margin-right: 42px;
    margin-left: 521px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-top: 84px;
    margin-right: 257px;
    margin-left: 338px;
  }

  .u-section-2 .u-custom-html-11 {
    margin-top: 42px;
    margin-right: 217px;
    margin-left: 386px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-top: -167px;
    margin-right: 544px;
    margin-left: 76px;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -642px;
    margin-right: 565px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 695px;
    margin-right: auto;
    margin-left: 230px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: -704px;
    margin-right: 342px;
    margin-left: 223px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 198px;
    margin-left: 363px;
  }

  .u-section-2 .u-custom-html-16 {
    margin-top: 20px;
    margin-right: 42px;
    margin-left: 520px;
  }

  .u-section-2 .u-custom-html-17 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 601px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-top: 304px;
    margin-right: 397px;
    margin-left: 223px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-top: -391px;
    margin-right: 509px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 148px;
    margin-right: 236px;
  }

  .u-section-2 .u-custom-html-20 {
    margin-top: -128px;
    margin-right: 620px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-21 {
    margin-top: 20px;
    margin-right: 572px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-22 {
    margin-top: 20px;
    margin-right: 332px;
    margin-left: 229px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-top: 20px;
    margin-right: 198px;
    margin-left: 363px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-right: 40px;
    margin-left: 522px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: 20px;
    margin-left: 596px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 806px;
    margin-right: 256px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-right: 620px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-27 {
    margin-top: 20px;
    margin-right: 573px;
    margin-left: 59px;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: 20px;
    margin-right: 332px;
    margin-left: 230px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-right: 209px;
    margin-left: 352px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-top: 20px;
    margin-right: 42px;
    margin-left: 520px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1905px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 197px;
    margin-left: 182px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 159px;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 381px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 20px;
    margin-right: 114px;
    margin-left: 267px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-right: 39px;
    margin-left: 343px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-right: 389px;
    margin-left: 51px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 233px;
    margin-left: 219px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-right: 248px;
    margin-left: 134px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 191px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 159px;
    margin-top: 247px;
    margin-right: 252px;
    margin-left: 139px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-top: -140px;
    margin-right: 0;
    margin-left: 383px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-right: 167px;
    margin-left: 248px;
  }

  .u-section-2 .u-custom-html-11 {
    margin-top: 20px;
    margin-right: 127px;
    margin-left: 296px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -139px;
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 173px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: -74px;
    margin-right: 252px;
    margin-left: 130px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 108px;
    margin-left: 273px;
  }

  .u-section-2 .u-custom-html-16 {
    margin-top: -140px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-custom-html-17 {
    margin-top: -140px;
    margin-left: 421px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-right: 307px;
    margin-left: 133px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-top: -140px;
    margin-right: 419px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 177px;
  }

  .u-section-2 .u-custom-html-20 {
    margin-right: 440px;
  }

  .u-section-2 .u-custom-html-21 {
    margin-top: -140px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-22 {
    margin-top: -140px;
    margin-right: 242px;
    margin-left: 139px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-top: -140px;
    margin-right: 108px;
    margin-left: 273px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: -145px;
    margin-left: 416px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 1769px;
    margin-right: 192px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-right: 440px;
  }

  .u-section-2 .u-custom-html-27 {
    margin-top: -140px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: -138px;
    margin-right: 242px;
    margin-left: 140px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-right: 119px;
    margin-left: 262px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-left: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3145px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -166px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2387px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
    margin-top: 271px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -226px;
    margin-right: 69px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 118px;
    margin-top: 174px;
    margin-right: 118px;
    margin-left: 63px;
    width: auto;
  }

  .u-section-2 .u-custom-html-3 {
    min-height: 118px;
    margin-top: -121px;
    margin-right: 49px;
    margin-left: 215px;
  }

  .u-section-2 .u-custom-html-4 {
    min-height: 118px;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-top: -356px;
    margin-right: 180px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-top: -140px;
    margin-right: 42px;
    margin-left: 210px;
  }

  .u-section-2 .u-custom-html-7 {
    min-height: 118px;
    margin-top: 99px;
    margin-right: 202px;
    margin-left: 63px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-8 {
    margin-top: 122px;
    margin-right: 186px;
    margin-left: 61px;
  }

  .u-section-2 .u-custom-html-9 {
    min-height: 118px;
    margin-top: -15px;
    margin-right: 196px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-10 {
    min-height: 122px;
    margin-top: -243px;
    margin-right: 20px;
    margin-left: 201px;
  }

  .u-section-2 .u-custom-html-11 {
    min-height: 118px;
    margin-top: 3px;
    margin-right: 69px;
    margin-left: 201px;
  }

  .u-section-2 .u-custom-html-12 {
    min-height: 118px;
    margin-top: -355px;
    margin-right: 179px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-13 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 54px;
    margin-left: 199px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 285px;
    margin-left: 59px;
  }

  .u-section-2 .u-custom-html-14 {
    min-height: 118px;
    margin-top: 143px;
    margin-right: 240px;
    margin-left: 46px;
  }

  .u-section-2 .u-custom-html-15 {
    min-height: 118px;
    margin-top: -117px;
    margin-right: 54px;
    margin-left: 197px;
  }

  .u-section-2 .u-custom-html-16 {
    min-height: 118px;
    margin-top: -2px;
    margin-right: 209px;
    margin-left: 42px;
  }

  .u-section-2 .u-custom-html-17 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 42px;
    margin-left: 199px;
  }

  .u-section-2 .u-custom-html-18 {
    min-height: 118px;
    margin-top: -359px;
    margin-right: 193px;
    margin-left: 47px;
  }

  .u-section-2 .u-custom-html-19 {
    min-height: 118px;
    margin-top: -117px;
    margin-right: 55px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 280px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-20 {
    min-height: 118px;
    margin-top: 11px;
    margin-right: 203px;
    margin-left: 37px;
  }

  .u-section-2 .u-custom-html-21 {
    min-height: 118px;
    margin-top: -116px;
    margin-right: 59px;
    margin-left: 194px;
  }

  .u-section-2 .u-custom-html-22 {
    min-height: 118px;
    margin-top: -9px;
    margin-right: 253px;
    margin-left: 41px;
  }

  .u-section-2 .u-custom-html-23 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 86px;
    margin-left: 198px;
  }

  .u-section-2 .u-custom-html-24 {
    min-height: 118px;
    margin-top: 4px;
    margin-right: 225px;
    margin-left: 37px;
  }

  .u-section-2 .u-custom-html-25 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 80px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 66px;
    margin-right: auto;
    margin-left: 59px;
  }

  .u-section-2 .u-custom-html-26 {
    min-height: 118px;
    margin-top: 37px;
    margin-right: 180px;
    margin-left: 61px;
  }

  .u-section-2 .u-custom-html-27 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 52px;
    margin-left: 200px;
  }

  .u-section-2 .u-custom-html-28 {
    min-height: 118px;
    margin-top: 0;
    margin-right: 213px;
    margin-left: 67px;
  }

  .u-section-2 .u-custom-html-29 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 72px;
    margin-left: 212px;
  }

  .u-section-2 .u-custom-html-30 {
    min-height: 118px;
    margin-top: 0;
    margin-right: 199px;
    margin-left: 66px;
  }

  .u-section-2 .u-custom-html-31 {
    min-height: 118px;
    margin-top: -118px;
    margin-right: 31px;
    margin-left: 215px;
  }
}#sensore4 {color:yellow;}