.u-section-1 .u-sheet-1 {
  min-height: 269px;
}

.u-section-1 .u-text-1 {
  line-height: 1.6;
  font-size: 3.75rem;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 139px;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 83px;
    margin-right: 0;
    margin-bottom: 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1856px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 16px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1311px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 33px 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  position: absolute;
  top: 712px;
  left: 63px;
}

.u-section-2 .u-line-2 {
  width: 912px;
  position: absolute;
  top: 479px;
  left: 65px;
}

.u-section-2 .u-line-3 {
  width: 912px;
  position: absolute;
  top: 959px;
  left: 63px;
}

.u-section-2 .u-line-4 {
  width: 912px;
  position: absolute;
  top: 1232px;
  left: 63px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 0;
  width: 1120px;
  margin: 0 10px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 50px auto 0 485px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 0 552px 0 430px;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 408px 0 573px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -5px 450px 0 auto;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -190px 56px 0 926px;
}

.u-section-2 .u-custom-html-5 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 970px 0 70px;
}

.u-section-2 .u-custom-html-6 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 816px 0 237px;
}

.u-section-2 .u-custom-html-7 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 250px 0 732px;
}

.u-section-2 .u-line-5 {
  width: 912px;
  margin: -17px auto 0 70px;
}

.u-section-2 .u-custom-html-8 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 64px 552px 0 430px;
}

.u-section-2 .u-custom-html-9 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 251px 0 732px;
}

.u-section-2 .u-custom-html-10 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 408px 0 573px;
}

.u-section-2 .u-custom-html-11 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 56px 0 926px;
}

.u-section-2 .u-custom-html-12 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 970px 0 70px;
}

.u-section-2 .u-custom-html-13 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 816px 0 237px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 11px 456px 0 auto;
}

.u-section-2 .u-icon-3 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-14 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 1px 552px 0 430px;
}

.u-section-2 .u-custom-html-15 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 408px 0 573px;
}

.u-section-2 .u-custom-html-16 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 250px 0 732px;
}

.u-section-2 .u-custom-html-17 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 50px 0 932px;
}

.u-section-2 .u-custom-html-18 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -139px 970px 0 70px;
}

.u-section-2 .u-custom-html-19 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -139px 816px 0 237px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 53px 452px 0 auto;
}

.u-section-2 .u-icon-4 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-20 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -1px 970px 0 70px;
}

.u-section-2 .u-custom-html-21 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -138px 821px 0 231px;
}

.u-section-2 .u-custom-html-22 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 561px 0 420px;
}

.u-section-2 .u-custom-html-23 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 402px 0 579px;
}

.u-section-2 .u-custom-html-24 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -143px 245px 0 737px;
}

.u-section-2 .u-custom-html-25 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -145px 50px 0 932px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 75px 455px 0 auto;
}

.u-section-2 .u-icon-5 {
  font-size: 1.5334em;
}

.u-section-2 .u-custom-html-26 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: 2px 967px 0 73px;
}

.u-section-2 .u-custom-html-27 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 829px 0 223px;
}

.u-section-2 .u-custom-html-28 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -141px 561px 0 421px;
}

.u-section-2 .u-custom-html-29 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 422px 0 559px;
}

.u-section-2 .u-custom-html-30 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -138px 250px 0 732px;
}

.u-section-2 .u-custom-html-31 {
  height: auto;
  min-height: 140px;
  background-image: none;
  margin: -140px 56px 0 926px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 257px;
  }

  .u-section-2 .u-line-1 {
    top: 778px;
  }

  .u-section-2 .u-line-2 {
    top: 551px;
  }

  .u-section-2 .u-line-3 {
    top: 1281px;
  }

  .u-section-2 .u-line-4 {
    top: 1033px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 400px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 22px;
    margin-right: 442px;
    margin-left: 339px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 81px;
    margin-right: 302px;
    margin-left: 479px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -206px;
    margin-right: 333px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -212px;
    margin-right: 3px;
    margin-left: 820px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 664px;
    margin-left: 188px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-right: 150px;
    margin-left: 632px;
  }

  .u-section-2 .u-line-5 {
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-custom-html-8 {
    margin-top: 77px;
    margin-right: 509px;
    margin-left: 339px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-right: 152px;
    margin-left: 631px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-top: -361px;
    margin-right: 336px;
    margin-left: 479px;
  }

  .u-section-2 .u-custom-html-11 {
    margin-top: 81px;
    margin-right: 7px;
    margin-left: 816px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-top: -141px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -139px;
    margin-right: 675px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 333px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: 19px;
    margin-right: 196px;
    margin-left: 333px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 308px;
    margin-left: 473px;
  }

  .u-section-2 .u-custom-html-16 {
    margin-right: 152px;
    margin-left: 630px;
  }

  .u-section-2 .u-custom-html-17 {
    margin-right: 10px;
    margin-left: 811px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-top: -140px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-top: -140px;
    margin-right: 674px;
    margin-left: 179px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 50px;
    margin-right: 333px;
  }

  .u-section-2 .u-custom-html-20 {
    margin-top: 3px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-21 {
    margin-top: -140px;
    margin-right: 682px;
    margin-left: 170px;
  }

  .u-section-2 .u-custom-html-22 {
    margin-right: 442px;
    margin-left: 339px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-right: 308px;
    margin-left: 473px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-top: -140px;
    margin-right: 150px;
    margin-left: 632px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: -140px;
    margin-right: 0;
    margin-left: 816px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 41px;
    margin-right: 333px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-top: 6px;
    margin-right: 810px;
    margin-left: 30px;
  }

  .u-section-2 .u-custom-html-27 {
    margin-right: 682px;
    margin-left: 170px;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: -140px;
    margin-right: 442px;
    margin-left: 340px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-right: 308px;
    margin-left: 473px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-top: -146px;
    margin-right: 143px;
    margin-left: 639px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-top: -134px;
    margin-right: 3px;
    margin-left: 811px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1442px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    height: 3px;
    left: auto;
    right: -57px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
    height: 3px;
    left: auto;
    right: -33px;
  }

  .u-section-2 .u-line-3 {
    width: 720px;
    height: 3px;
    left: auto;
    right: 7px;
  }

  .u-section-2 .u-line-4 {
    width: 720px;
    height: 3px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
    margin-top: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -25px;
    margin-left: 243px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 95px;
    margin-right: 38px;
    margin-left: 523px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: -557px;
    margin-right: 192px;
    margin-left: 369px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 255px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: 1096px;
    margin-right: 129px;
    margin-left: 433px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-top: -297px;
    margin-right: 496px;
    margin-left: 124px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 308px;
    margin-left: 324px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-top: 17px;
    margin-right: 338px;
    margin-left: 224px;
  }

  .u-section-2 .u-line-5 {
    width: 720px;
    margin-top: -1462px;
  }

  .u-section-2 .u-custom-html-8 {
    margin-top: 448px;
    margin-right: 529px;
    margin-left: 32px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-top: -408px;
    margin-right: 42px;
    margin-left: 521px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-top: 84px;
    margin-right: 257px;
    margin-left: 338px;
  }

  .u-section-2 .u-custom-html-11 {
    margin-top: 42px;
    margin-right: 217px;
    margin-left: 386px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-top: -167px;
    margin-right: 544px;
    margin-left: 76px;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -642px;
    margin-right: 565px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 695px;
    margin-right: auto;
    margin-left: 230px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: -704px;
    margin-right: 342px;
    margin-left: 223px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 198px;
    margin-left: 363px;
  }

  .u-section-2 .u-custom-html-16 {
    margin-top: 20px;
    margin-right: 42px;
    margin-left: 520px;
  }

  .u-section-2 .u-custom-html-17 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 601px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-top: 304px;
    margin-right: 397px;
    margin-left: 223px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-top: -391px;
    margin-right: 509px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 148px;
    margin-right: 236px;
  }

  .u-section-2 .u-custom-html-20 {
    margin-top: -128px;
    margin-right: 620px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-21 {
    margin-top: 20px;
    margin-right: 572px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-22 {
    margin-top: 20px;
    margin-right: 332px;
    margin-left: 229px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-top: 20px;
    margin-right: 198px;
    margin-left: 363px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-right: 40px;
    margin-left: 522px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: 20px;
    margin-left: 596px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 255px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-right: 620px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-27 {
    margin-top: 20px;
    margin-right: 572px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: 20px;
    margin-right: 332px;
    margin-left: 230px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-right: 198px;
    margin-left: 363px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-top: 20px;
    margin-right: 33px;
    margin-left: 529px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1905px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-2 .u-line-4 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 182px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 159px;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 381px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 20px;
    margin-right: 102px;
    margin-left: 279px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 191px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-right: 39px;
    margin-left: 343px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-right: 389px;
    margin-left: 51px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 233px;
    margin-left: 219px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-right: 248px;
    margin-left: 134px;
  }

  .u-section-2 .u-line-5 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 159px;
    margin-top: 247px;
    margin-right: 252px;
    margin-left: 139px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-top: -140px;
    margin-right: 0;
    margin-left: 383px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-right: 167px;
    margin-left: 248px;
  }

  .u-section-2 .u-custom-html-11 {
    margin-top: 20px;
    margin-right: 127px;
    margin-left: 296px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -139px;
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 173px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: -74px;
    margin-right: 252px;
    margin-left: 130px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 108px;
    margin-left: 273px;
  }

  .u-section-2 .u-custom-html-16 {
    margin-top: -140px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-custom-html-17 {
    margin-top: -140px;
    margin-left: 421px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-right: 307px;
    margin-left: 133px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-top: -140px;
    margin-right: 419px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 177px;
  }

  .u-section-2 .u-custom-html-20 {
    margin-right: 440px;
  }

  .u-section-2 .u-custom-html-21 {
    margin-top: -140px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-22 {
    margin-top: -140px;
    margin-right: 242px;
    margin-left: 139px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-top: -140px;
    margin-right: 108px;
    margin-left: 273px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: -145px;
    margin-left: 416px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 191px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-right: 440px;
  }

  .u-section-2 .u-custom-html-27 {
    margin-top: -140px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: -140px;
    margin-right: 242px;
    margin-left: 140px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-right: 108px;
    margin-left: 273px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-left: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2473px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2261px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    top: 923px;
    left: -2px;
  }

  .u-section-2 .u-line-2 {
    top: 479px;
    width: 340px;
    right: -2px;
  }

  .u-section-2 .u-line-3 {
    width: auto;
  }

  .u-section-2 .u-line-4 {
    width: 340px;
    top: 1403px;
    left: -5px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
    margin-top: 260px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -226px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 118px;
    margin-top: 139px;
    margin-right: 125px;
    margin-left: 64px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: -118px;
    margin-right: 49px;
    margin-left: 215px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 122px;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -206px;
    margin-right: -3px;
    margin-left: 219px;
  }

  .u-section-2 .u-custom-html-5 {
    margin-top: -364px;
    margin-right: 180px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-6 {
    margin-right: 37px;
    margin-left: 215px;
  }

  .u-section-2 .u-custom-html-7 {
    margin-top: 84px;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-2 .u-line-5 {
    width: 340px;
    margin-top: 1341px;
    margin-right: -3px;
  }

  .u-section-2 .u-custom-html-8 {
    margin-top: -1164px;
    margin-right: 115px;
    margin-left: 67px;
  }

  .u-section-2 .u-custom-html-9 {
    margin-top: -17px;
    margin-right: 119px;
    margin-left: 64px;
  }

  .u-section-2 .u-custom-html-10 {
    margin-top: -263px;
    margin-right: 6px;
    margin-left: 215px;
  }

  .u-section-2 .u-custom-html-11 {
    min-height: 118px;
    margin-top: -17px;
    margin-right: 3px;
    margin-left: 220px;
  }

  .u-section-2 .u-custom-html-12 {
    margin-top: -320px;
    margin-right: 174px;
    margin-left: 67px;
  }

  .u-section-2 .u-custom-html-13 {
    margin-top: -138px;
    margin-right: 37px;
    margin-left: 216px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 228px;
    margin-left: 63px;
  }

  .u-section-2 .u-custom-html-14 {
    margin-top: 129px;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-15 {
    margin-right: 4px;
    margin-left: 217px;
  }

  .u-section-2 .u-custom-html-16 {
    min-height: 118px;
    margin-top: -6px;
    margin-right: 187px;
    margin-left: 64px;
  }

  .u-section-2 .u-custom-html-17 {
    min-height: 135px;
    margin-top: -118px;
    margin-right: 26px;
    margin-left: 215px;
  }

  .u-section-2 .u-custom-html-18 {
    margin-top: -392px;
    margin-right: 180px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-19 {
    margin-right: 38px;
    margin-left: 215px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 273px;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-20 {
    margin-top: -5px;
    margin-right: 178px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-21 {
    margin-right: 38px;
    margin-left: 215px;
  }

  .u-section-2 .u-custom-html-22 {
    margin-top: -29px;
    margin-right: 170px;
    margin-left: 64px;
  }

  .u-section-2 .u-custom-html-23 {
    margin-right: 8px;
    margin-left: 218px;
  }

  .u-section-2 .u-custom-html-24 {
    margin-top: -44px;
    margin-right: 202px;
    margin-left: 60px;
  }

  .u-section-2 .u-custom-html-25 {
    margin-top: -140px;
    margin-right: -1px;
    margin-left: 217px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 6px;
    margin-right: 64px;
  }

  .u-section-2 .u-custom-html-26 {
    margin-top: -6px;
    margin-right: 178px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-27 {
    margin-top: -142px;
    margin-right: 35px;
    margin-left: 217px;
  }

  .u-section-2 .u-custom-html-28 {
    margin-top: -20px;
    margin-right: 215px;
    margin-left: 64px;
  }

  .u-section-2 .u-custom-html-29 {
    margin-top: -141px;
    margin-right: 26px;
    margin-left: 215px;
  }

  .u-section-2 .u-custom-html-30 {
    margin-top: -18px;
    margin-right: 202px;
    margin-left: 62px;
  }

  .u-section-2 .u-custom-html-31 {
    margin-top: -140px;
    margin-right: 28px;
    margin-left: 217px;
  }
}#sensore4 {color:yellow;}